<style>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #customers tr:hover {
    background-color: #ddd;
  }

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>

{{#if ideas}}
  <table id="customers">
    <tr>
      <th>Blood Group</th>
      <th>Donor Age</th>
      <th>Blood Bank</th>
    </tr>

    {{#each ideas}}
      <tr>
        <td>{{bloodgroup}}</td>
        <td>{{age}}</td>
        <td>{{registeredby}}</td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <p>No repository created yet</p>
{{/if}}
