<h1>About</h1>
<p>
  This is a Node/Express app for jotting down ideas for future Youtube videos
   “Anybody can give blood” <br>
   “Spare only 15 minutes and save one life” <br>
   “A single pint can save three lives, a single gesture can create a million smiles”
</p>
<p>Version: 1.0.0</p>
