<div class="container text-center">
  <div class="text-center">
    <h1 class="display-4">{{title}} to Angelwalk</h1>
  </div>
  <div class="jumbotron">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item text-center active">
          <img class=" rounded mx-auto d-block w-50 h-20" src="/img/donate_blood_rotator.jpg" alt="First slide">
          <h5>Dinate something, bring smile</h5>
          <p>There are many needful people around. Try to donate somthing and bring happyness to world!</p>
        </div>
        <div class="carousel-item text-center">
          <img class="rounded mx-auto d-block w-50 h-20" src="/img/giving.jpg" alt="Second slide">
          <h5>Dinate something, bring smile</h5>
          <p>There are many needful people around. Try to donate somthing and bring happyness to world!</p>
        </div>
        <div class="carousel-item text-center">
          <img class="rounded mx-auto d-block w-50 h-60" src="/img/smile.jpg" alt="Third slide">
          <h5>Dinate something, bring smile</h5>
          <p>There are many needful people around. Try to donate somthing and bring happyness to world!</p>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs|sm|md|lg-1-12">

        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="/enlist/organizations" class="card-header btn btn-light text-center">
              View our associats
            </a>
            <p class="card-text">See the list of different blood bank repositors</p>
          </div>
        </div>

      </div>

      <div class="col-xs|sm|md|lg-1-12">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="/ideas/repository" class="card-header btn btn-warning text-center">Blood Inventory</a>
            <p class="card-text">Check out the blood inventory in our database</p>
          </div>
        </div>
      </div>

      <div class="col-xs|sm|md|lg-1-12">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="/enlist/organizations" class="card-header btn btn-light text-center" style="">Create you inventory</a>
            <p class="card-text">Register your organization with us to maintian your inventory</p>
          </div>
        </div>
      </div>

      <div class="col-xs|sm|md|lg-1-12">
        <div class="card" style="width: 15rem;">
          <div class="card-body">
            <a href="/enlist/organizations" class="card-header btn btn-warning text-center">Upoming Events</a>
            <p class="card-text">Blood donation camps heppen all around the year, check out the upcoming event to donate blood</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
